.top-nav > ul > li > a {
    padding-top: 30px;
    height: 85px;
    color: #000;
}

.top-nav li.current > a {
    background-color: #3a9cd8;
    color: #fff;
}

.top-nav > ul > li {
    height: 85px;
}

header.top-head .logo {
    margin-top: 9px;
}

.top-nav li.current > a {
    background-color: #3a9cd8 !important;
    color: #fff;
}

.top-nav li li a:hover,
.top-nav li li.selected > a,
.top-nav li li.current > a,
.responsive-nav ul li a:hover,
.top-nav > ul > li:hover:after,
.top-nav > ul > li.current:after {
    background: #af176a !important;
    color: #fff;
}

.top-nav > ul li ul {
    position: absolute;
    top: 94px;
}

.top-nav li li {
    border-bottom: 1px #b0ca43 solid !important
}

.search-box:before {
    background: transparent !important;
}

.search-box {
      top: 94px;
    background: #fdfdfd;
    padding: 10px;
    border: 4px solid #b7b7b7;
}

.top-search a {
    margin-top: 20px;
}

.btn.main-bg:hover,
.team-box .team-socials li a {
    background-color: #af176a !important;
    color: #fff;
}

.top-nav > ul li a i {
    color: #7f7f81;
}

#mnu-eft > ul li a span {
    color: #000 !important;
}

.hasChildren.selected a:hover {
    color: #FFF !important;
}


.selected.current    {
    color: #FFF !important;
}


.selected.current a:hover {
    color: #FFF !important;
}

.color-w {
    color: #FFF !important;
}

.top-search a {
    color: #fff;
}

.label1 {
    font-size: 30px  ;
}

.label2 {
    font-size: 25px  ;
}

.label3 {
    font-size: 25px  ;
}

.label4 {
    font-size: 25px ;
    
}

.label-section2 h2 {
    display: inline-block;
    color: #fff;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.label-section2 h2:before,
.label-section2 h2:after {
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    top: 0.53em;
    z-index: 1;
}

.label-section2 h2:before {
    background: -moz-linear-gradient(left, rgba(34, 49, 63, 0) 0%, rgb(143, 176, 2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(34, 49, 63, 0)), color-stop(100%, rgb(143, 176, 2)));
    background: -webkit-linear-gradient(left, rgba(34, 49, 63, 0) 0%, rgb(143, 176, 2) 100%);
    background: -o-linear-gradient(left, rgba(34, 49, 63, 0) 0%, rgb(143, 176, 2) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(143, 176, 2) 100%);
    background: linear-gradient(to right, rgba(34, 49, 63, 0) 0%, rgb(143, 176, 2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
    left: 0;
    top: 35px;
}
.label-section2 h2:after {
    background: -moz-linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    background: -webkit-linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    background: -webkit-linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    background: -o-linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    background: -ms-linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    background: linear-gradient(to right, rgb(143, 176, 2) 0%, rgba(34, 49, 63, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    right: 0;
    left: auto;
    top: 35px;
}

.label-section2 h2 span {
    padding: 0px 10px;
    position: relative;
    z-index: 2;
}

.label-section2 h2 span {
    color: #222 !important;
    border: 1px solid #ddd;
    padding: 5px 33px;
    font-size: 22px;
}

.sectionWrapper {
    padding: 50px 0 !important
}

.sticky .top-nav > ul > li > a {
    color: #000 !important;
}

.sticky .top-nav > ul > li > a span {
    margin-top: 30px;
    line-height: 30px;
}

.sticky .top-nav > ul > li {
    height: 85px !important
}

.sticky .top-nav > ul > li.selected > a {
    background:#8fb002  !important;
    color: #FFF !important
}

.sticky .top-search a {
    margin-top: 18px;
    background: #8fb002 ;
    color: #FFF;
}

.sticky .search-box {
    top:85px !important
}

.main-wh {
    background-color: #FFF !important;
    color: #3a9cd8 !important;
}

.service-box-3 p.mediumFont {
    color: #7f7f81;
    text-align: justify;
}

.main-color {
    color: #FF5722 !important
}

.staff-2 .fun-title {
    font-size: 30px;
}

.staff-2 .fun-title span {
    font-size: 15px;
}

.img-over a.link {
    background-color: #a510578c !important;
}

 

.project-name {
    color: #ff3d00;
}

.follow-block p {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    direction: rtl;
    padding-top: 30px;
}

.color-red {
    color: #f00;
}

.color-blak {
    color: #3d3d41 !important;
    border-bottom: 1px solid #8fb002  !important;
}

.color-blak:before,
.color-blak:after {
    background-color: #8fb002  !important
}

.copyrights {
    direction: rtl
}

.footer-top .footer-menu a:hover {
    color: #3a9cd8 !important
}

.footer-top .footer-menu a:before {
    color: #ffffff;
}

.footer-menu li a:before {
    color: #FFF !important
}

.footer-contact span {
    direction: ltr;
}

.f-text {
    font-size: 12px;
    line-height: 1.9;
}

.footer-top {
    color: #fff;
}

.footer-top a {
    color: #fff;
}

.fx-custom {
    background: #767777;
    width: 188px;
    color: #fff !important;
    font-size: 18px !important;
    padding: 10px 10px;
    text-align: center;
}

.block-bg-1:before,
.block-bg-2:before,
.block-bg-3:before,
.block-bg-4:before,
.block-bg-5:before {
    background-color: rgba(0, 0, 0, 0.59) !important;
}

.a-pic {
    background: #8fb002 ;
}

p {
    font-size: 14px
}

.accordion-panel {
    margin: 15px 0px;
}

.accordion li > h3 a span {
    display: block;
    font-size: 17px;
    color: #f00;
}

iframe {
    width: 100%;
}

.hr-style4:after {
    color: #f00 !important;
    background-color: #f00 !important;
}

.hr-style4:before {
    color: #f00 !important;
    background-color: #f00 !important;
}

.contact-detalis h5 {
    margin-bottom: 10px;
}

.contact-detalis h4 {
    margin-bottom: 15px;
}

.color-wi {
    color: #FFF !important
}

#filters li a {
    font-size: 13px;
}

.service-box-2 {
    margin-top: 50px;
}

.service-box-2 p.mediumFont {
    text-align: right;
    font-size: 12px;
}


/****************rtl****************************************/

.jssorb05 {
    position: absolute;
}

.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div {
    background-position: -7px -7px;
}

.jssorb05 div:hover,
.jssorb05 .av:hover {
    background-position: -37px -7px;
}

.jssorb05 .av {
    background-position: -67px -7px;
}

.jssorb05 .dn,
.jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora22l,
.jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('img/a22.png') center center no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}

.jssora22l {
    left: 5% !important;
}

.back-sliver {
    background: #eee;
}

.btn1 {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 40px;
    font-size: 15px;
    line-height: 28px;
}

#demo {
    margin-top: 40px;
}


.btn-warning {
    color: #fff;
    background-color: #8fb002 ;
    border-color: #8fb002 ;
}
.btn-warning:hover{ background-color:  rgb(255, 61, 0);
    border-color:  rgb(255, 61, 0);}

.btn-warning.active { background-color:  rgb(255, 61, 0);
    border-color:  rgb(255, 61, 0);}

.btn-danger{ background-color: #8fb002 ;
    border-color: #8fb002 ;
}


.btn-danger:hover{  background-color: rgb(255, 61, 0);
    border-color:rgb(255, 61, 0) ; }

.btn-danger.active { background-color:  rgb(255, 61, 0);
    border-color:  rgb(255, 61, 0);}    

.border-gif{ border: 4px solid #ddd; }

.title-1 h1{color: #000000 !important }

.title-1 h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}




.page-title h1 {
    font-weight: bold;
    font-size: 25px;
}

.list li {
    padding: 0 10px 10px 0;
    line-height: 2;
     font-size: 14px;
}

.color-lang{ color:#F00;}

.p-lead{
 font-size: 14px;
    line-height: 2;}


 .check-box-box a {
    
    color: #f00;
}

/************************************/
.grahic{
    
    line-height: 2.9;
}

.contact-detalis p {
     
    direction: ltr;
    text-align: right;
}

a.button_close_cart
{
    width: 10px !important;
    background-color: transparent;
    padding: 0 14px !important;
}